version:             2

jobs:

  dependencies:

    docker:
    - image:         circleci/android:api-28-node8-alpha

    environment:
      JVM_OPTS:      -Xmx2048m
      GRADLE_OPTS:   -Xmx1536m -XX:+HeapDumpOnOutOfMemoryError -Dorg.gradle.caching=true -Dorg.gradle.configureondemand=true -Dkotlin.compiler.execution.strategy=in-process -Dkotlin.incremental=false

    steps:
    - checkout

    - restore_cache:
        keys:
        - v1-dependencies-{{ checksum "build.gradle" }}
        - v1-dependencies-

    - run:
        name:        Downloading dependencies
        command:     ./gradlew androidDependencies


    # versions
    - run:
        name:        Checking dependencies versions
        command:     ./gradlew dependencyUpdates
    - store_artifacts:
        path:        build/dependencyUpdates
        destination: dependencies

    - save_cache:
        paths:
        - ~/.gradle
        key:         v1-dependencies-{{ checksum "build.gradle" }}


workflows:
  version:           2
  pull_request:
    jobs:
    - dependencies
        filters:
          branches:
            ignore:
              - master
  release:
    jobs:
    - dependencies
        branches:
          only:
            - master
