version:              2

jobs:

  dependencyUpdates:

    docker:
    - image:          circleci/android:api-28-node8-alpha

    environment:
      JVM_OPTS:       -Xmx2048m
      GRADLE_OPTS:    -Xmx1536m -XX:+HeapDumpOnOutOfMemoryError -Dorg.gradle.caching=true -Dorg.gradle.configureondemand=true -Dkotlin.compiler.execution.strategy=in-process -Dkotlin.incremental=false

    steps:
    - checkout

    - restore_cache:
        keys:
        - v1-dependencies-{{ checksum "build.gradle" }}
        - v1-dependencies-


    # dependencyUpdates
    - run:
        name:         Checking dependency updates
        command:      ./gradlew androidDependencies dependencyUpdates --profile
    - store_artifacts:
        path:         build/reports/profile/
        destination:  profile
    - store_artifacts:
        path:         build/dependencyUpdates
        destination:  dependencies

    - save_cache:
        paths:
        - ~/.gradle
        key:          v1-dependencies-{{ checksum "build.gradle" }}


  assembleDebug:

    docker:
    - image:          circleci/android:api-28-node8-alpha

    environment:
      JVM_OPTS:       -Xmx2048m
      GRADLE_OPTS:    -Xmx1536m -XX:+HeapDumpOnOutOfMemoryError -Dorg.gradle.caching=true -Dorg.gradle.configureondemand=true -Dkotlin.compiler.execution.strategy=in-process -Dkotlin.incremental=false

    steps:
    - checkout

    - restore_cache:
        keys:
        - v1-dependencies-{{ checksum "build.gradle" }}
        - v1-dependencies-


    # assembleDebug
    - run:
        name:         Running assembleDebug
        command:      ./gradlew assembleDebug -x lint --profile
    - store_artifacts:
        path:         build/reports/profile/
        destination:  profile


    - save_cache:
        paths:
        - ~/.gradle
        key:          v1-dependencies-{{ checksum "build.gradle" }}


  assembleRelease:

    docker:
    - image:          circleci/android:api-28-node8-alpha

    environment:
      JVM_OPTS:       -Xmx2048m
      GRADLE_OPTS:    -Xmx1536m -XX:+HeapDumpOnOutOfMemoryError -Dorg.gradle.caching=true -Dorg.gradle.configureondemand=true -Dkotlin.compiler.execution.strategy=in-process -Dkotlin.incremental=false

    steps:
    - checkout

    - restore_cache:
        keys:
        - v1-dependencies-{{ checksum "build.gradle" }}
        - v1-dependencies-


    # assembleRelease
    - run:
        name:         Running assembleRelease
        command:      ./gradlew assembleRelease -x lint -x lintVitalRelease --profile
    - store_artifacts:
        path:         build/reports/profile/
        destination:  profile


    - save_cache:
        paths:
        - ~/.gradle
        key:          v1-dependencies-{{ checksum "build.gradle" }}


  lint:

    docker:
    - image:          circleci/android:api-28-node8-alpha

    environment:
      JVM_OPTS:       -Xmx2048m
      GRADLE_OPTS:    -Xmx1536m -XX:+HeapDumpOnOutOfMemoryError -Dorg.gradle.caching=true -Dorg.gradle.configureondemand=true -Dkotlin.compiler.execution.strategy=in-process -Dkotlin.incremental=false

    steps:
    - checkout

    - restore_cache:
        keys:
        - v1-dependencies-{{ checksum "build.gradle" }}
        - v1-dependencies-


    # lint
    - run:
        name:         Running lint
        command:      ./gradlew lint --profile
    - store_artifacts:
        path:         build/reports/profile/
        destination:  profile
    - store_artifacts:
        path:         app/build/reports/
        destination:  app/


  ktlint:

    docker:
    - image:          circleci/android:api-28-node8-alpha

    environment:
      JVM_OPTS:       -Xmx2048m
      GRADLE_OPTS:    -Xmx1536m -XX:+HeapDumpOnOutOfMemoryError -Dorg.gradle.caching=true -Dorg.gradle.configureondemand=true -Dkotlin.compiler.execution.strategy=in-process -Dkotlin.incremental=false

    steps:
    - checkout

    - restore_cache:
        keys:
        - v1-dependencies-{{ checksum "build.gradle" }}
        - v1-dependencies-


    # ktlint

    - run:
        name:         Running ktlintCheck
        command:      ./gradlew ktlintCheck --profile
    - store_artifacts:
        path:         build/reports/profile/
        destination:  profile
    - store_artifacts:
        path:         app/build/reports/ktlint
        destination:  app


  detekt:

    docker:
    - image:          circleci/android:api-28-node8-alpha

    environment:
      JVM_OPTS:       -Xmx2048m
      GRADLE_OPTS:    -Xmx1536m -XX:+HeapDumpOnOutOfMemoryError -Dorg.gradle.caching=true -Dorg.gradle.configureondemand=true -Dkotlin.compiler.execution.strategy=in-process -Dkotlin.incremental=false

    steps:
    - checkout

    - restore_cache:
        keys:
        - v1-dependencies-{{ checksum "build.gradle" }}
        - v1-dependencies-


    # detekt

    - run:
        name:         Running detekt
        command:      ./gradlew detekt --profile
    - store_artifacts:
        path:         build/reports/profile/
        destination:  profile
    - store_artifacts:
        path:         app/build/reports/detekt
        destination:  app


  unit:

    docker:
    - image:          circleci/android:api-28-node8-alpha

    environment:
      JVM_OPTS:       -Xmx2048m
      GRADLE_OPTS:    -Xmx1536m -XX:+HeapDumpOnOutOfMemoryError -Dorg.gradle.caching=true -Dorg.gradle.configureondemand=true -Dkotlin.compiler.execution.strategy=in-process -Dkotlin.incremental=false

    steps:
    - checkout

    - restore_cache:
        keys:
        - v1-dependencies-{{ checksum "build.gradle" }}
        - v1-dependencies-


    # unit

    - run:
        name:         Running unit
        command:      ./gradlew androidDependencies jacocoTestReportMerged --profile
    - store_artifacts:
        path:         build/reports/profile/
        destination:  profile
    - store_artifacts:
        path:         build/reports/jacoco
        destination:  jacoco

    - run:
        name:         Save test results
        command:      |
          mkdir -p ~/junit/
          find . -type f -regex "app/build/test-results/testDebugUnitTest/.*xml" -exec cp {} ~/junit/ \;
    - store_test_results:
        path:         ~/junit
    - store_artifacts:
        path:         ~/junit
        destination:  app


workflows:
  version:            2
  pull_request:
    jobs:
    - dependencyUpdates:
        filters:
          branches:
            ignore:
              - master
    - assembleDebug:
        requires:
          - dependencyUpdates
    - assembleRelease:
        requires:
          - dependencyUpdates
    - lint:
        requires:
          - assembleDebug
          - assembleRelease
    - ktlint:
        requires:
          - assembleDebug
          - assembleRelease
    - detekt:
        requires:
          - assembleDebug
          - assembleRelease
    - unit


  release:
    jobs:
    - dependencyUpdates:
        filters:
          branches:
            only:
              - master
