version:               2

jobs:

  dependencyUpdates:

    docker:
      - image:         circleci/android:api-28-node8-alpha

    environment:
      JVM_OPTS:        -Xmx2048m
      GRADLE_OPTS:     -Xmx1536m -XX:+HeapDumpOnOutOfMemoryError -Dorg.gradle.caching=true -Dorg.gradle.configureondemand=true -Dkotlin.compiler.execution.strategy=in-process -Dkotlin.incremental=false

    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "build.gradle" }}
            - v1-dependencies-


      # dependencyUpdates
      - run:
          name:        Checking dependency updates
          command:     ./gradlew androidDependencies dependencyUpdates --profile
      - store_artifacts:
          path:        build/reports/profile/
          destination: profile
      - store_artifacts:
          path:        build/dependencyUpdates
          destination: dependencies

      - save_cache:
          paths:
            - ~/.gradle
          key:         v1-dependencies-{{ checksum "build.gradle" }}


  lint:

    docker:
      - image:         circleci/android:api-28-node8-alpha

    environment:
      JVM_OPTS:        -Xmx2048m
      GRADLE_OPTS:     -Xmx1536m -XX:+HeapDumpOnOutOfMemoryError -Dorg.gradle.caching=true -Dorg.gradle.configureondemand=true -Dkotlin.compiler.execution.strategy=in-process -Dkotlin.incremental=false

    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "build.gradle" }}
            - v1-dependencies-


      # :features:dashboard
      - run:
          name:        Running :features:dashboard:lint
          command:     ./gradlew :features:dashboard:lint --profile
      - store_artifacts:
          path:        features/dashboard/build/reports/
          destination: features/dashboard

      # :features:home
      - run:
          name:        Running :features:home:lint
          command:     ./gradlew :features:home:lint --profile
      - store_artifacts:
          path:        features/home/build/reports/
          destination: features/home

      # :features:user
      - run:
          name:        Running :features:user:lint
          command:     ./gradlew :features:user:lint --profile
      - store_artifacts:
          path:        features/user/build/reports/
          destination: features/user

      # :libraries:di-components
      # kotlin library

      # :libraries:ui-components
      - run:
          name:        Running :libraries:di-components:lint
          command:     ./gradlew :libraries:di-components:lint --profile
      - store_artifacts:
          path:        libraries/di-components/build/reports/
          destination: di-components

      # :zendoo
      - run:
          name:        Running lint
          command:     ./gradlew :zendoo:lint --profile
      - store_artifacts:
          path:        zendoo/build/reports/
          destination: zendoo

      # profile
      - store_artifacts:
          path:        build/reports/profile/
          destination: _profile

  ktlint:

    docker:
      - image:         circleci/android:api-28-node8-alpha

    environment:
      JVM_OPTS:        -Xmx2048m
      GRADLE_OPTS:     -Xmx1536m -XX:+HeapDumpOnOutOfMemoryError -Dorg.gradle.caching=true -Dorg.gradle.configureondemand=true -Dkotlin.compiler.execution.strategy=in-process -Dkotlin.incremental=false

    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "build.gradle" }}
            - v1-dependencies-


      # :feature:dashboard
      - run:
          name:        Running :feature:dashboard:ktlintCheck
          command:     ./gradlew --continue :feature:dashboard:ktlintCheck --profile
      - store_artifacts:
          path:        features/dashboard/build/reports/ktlint
          destination: features/dashboard

      # :feature:home
      - run:
          name:        Running :feature:home:ktlintCheck
          command:     ./gradlew --continue :feature:home:ktlintCheck --profile
      - store_artifacts:
          path:        features/home/build/reports/ktlint
          destination: features/home

      # :feature:user
      - run:
          name:        Running :feature:user:ktlintCheck
          command:     ./gradlew --continue :feature:user:ktlintCheck --profile
      - store_artifacts:
          path:        features/user/build/reports/ktlint
          destination: features/user

      # :libraries:ui-components
      - run:
          name:        Running :libraries:ui-components:ktlintCheck
          command:     ./gradlew --continue :libraries:ui-components:ktlintCheck --profile
      - store_artifacts:
          path:        libraries/ui-components/build/reports/ktlint
          destination: libraries/ui-components

      # :libraries:di-components
      - run:
          name:        Running :libraries:di-components:ktlintCheck
          command:     ./gradlew --continue :libraries:di-components:ktlintCheck --profile
      - store_artifacts:
          path:        libraries/di-components/bdild/reports/ktlint
          destination: libraries/di-components

      # :zendoo
      - run:
          name:        Running :zendoo:ktlintCheck
          command:     ./gradlew --continue :zendoo:ktlintCheck --profile
      - store_artifacts:
          path:        zendoo/build/reports/ktlint
          destination: zendoo

      # profile
      - store_artifacts:
          path:        build/reports/profile/
          destination: _profile


  detekt:

    docker:
      - image:         circleci/android:api-28-node8-alpha

    environment:
      JVM_OPTS:        -Xmx2048m
      GRADLE_OPTS:     -Xmx1536m -XX:+HeapDumpOnOutOfMemoryError -Dorg.gradle.caching=true -Dorg.gradle.configureondemand=true -Dkotlin.compiler.execution.strategy=in-process -Dkotlin.incremental=false

    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "build.gradle" }}
            - v1-dependencies-


      # :feature:dashboard
      - run:
          name:        Running :feature:dashboard:detekt
          command:     ./gradlew :feature:dashboard:detekt --profile
      - store_artifacts:
          path:        features/dashboard/build/reports/detekt
          destination: features/dashboard

      # :feature:home
      - run:
          name:        Running :feature:home:detekt
          command:     ./gradlew :feature:home:detekt --profile
      - store_artifacts:
          path:        features/home/build/reports/detekt
          destination: features/home

      # :feature:user
      - run:
          name:        Running :feature:user:detekt
          command:     ./gradlew :feature:user:detekt --profile
      - store_artifacts:
          path:        features/user/build/reports/detekt
          destination: features/user

      # :libraries:ui-components
      - run:
          name:        Running :libraries:ui-components:detekt
          command:     ./gradlew :libraries:ui-components:detekt --profile
      - store_artifacts:
          path:        libraries/ui-components/build/reports/detekt
          destination: libraries/ui-components

      # :libraries:di-components
      - run:
          name:        Running :libraries:di-components:detekt
          command:     ./gradlew :libraries:di-components:detekt --profile
      - store_artifacts:
          path:        libraries/di-components/bdild/reports/detekt
          destination: libraries/di-components

      # :zendoo
      - run:
          name:        Running :zendoo:detekt
          command:     ./gradlew :zendoo:detekt --profile
      - store_artifacts:
          path:        zendoo/build/reports/detekt
          destination: zendoo

      # profile
      - store_artifacts:
          path:        build/reports/profile/
          destination: _profile


  coverage:

    docker:
      - image:         circleci/android:api-28-node8-alpha

    environment:
      JVM_OPTS:        -Xmx2048m
      GRADLE_OPTS:     -Xmx1536m -XX:+HeapDumpOnOutOfMemoryError -Dorg.gradle.caching=true -Dorg.gradle.configureondemand=true -Dkotlin.compiler.execution.strategy=in-process -Dkotlin.incremental=false

    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "build.gradle" }}
            - v1-dependencies-


      # coverage
      - run:
          name:        Running jacocoTestReportDebug jacocoTestReportMerged
          command:     |
            ./gradlew jacocoTestReportRelease
            ./gradlew jacocoTestReportMerged
      - store_artifacts:
          path:        build/reports/jacoco
          destination: _jacoco

      # :feature:dashboard
      - store_artifacts:
          path:        features/dashboard/build/reports/tests
          destination: feature/dashboard
      # :feature:home
      - store_artifacts:
          path:        features/home/build/reports/tests
          destination: feature/home
      # :feature:user
      - store_artifacts:
          path:        features/user/build/reports/tests
          destination: feature/user
      # :libraries:di-components
      - store_artifacts:
          path:        libraries/di-components/build/reports/tests
          destination: libraries/di-components
      # :libraries:ui-components
      - store_artifacts:
          path:        libraries/ui-components/build/reports/tests
          destination: libraries/ui-components
      # :zendoo
      - store_artifacts:
          path:        zendoo/build/reports/tests
          destination: zendoo

      # test results
      - run:
          name:        Save test results
          command:     |
            mkdir -p ~/_reports/xml/
            find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} ~/_reports/xml/ \;
      - store_test_results:
          path:        ~/_reports/xml
      - store_artifacts:
          path:        ~/_reports/xml
          destination: junit

      # profile
      - store_artifacts:
          path:        build/reports/profile/
          destination: _profile


  robo:
    docker:
      - image:         circleci/android:api-28-node8-alpha

    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum ".dependencies/dependencies.gradle" }}
            - v1-dependencies-

      - run:
          name:        Downloading dependencies
          command:     ./gradlew androidDependencies


      # robo
      - run:
          name:        Authorize gcloud and set config defaults
          command:     |
            sudo gcloud --quiet config set project ${GOOGLE_PROJECT_ID}
            sudo gcloud auth activate-service-account ${FIREBASE_SERVICE_ACCOUNT} --key-file=${HOME}/gcloud-service-key.json
            sudo gcloud config set account ${FIREBASE_SERVICE_ACCOUNT}
      - run:
          name:        Build debug APK and release APK
          command:     |
            ./gradlew :application-test:assembleDebug
            ./gradlew :application-test:assembleDebugAndroidTest
      - run:
          name:        Test with Firebase Test Lab
          command:     sudo gcloud firebase test android run
            --type robo
            --app application-test/build/outputs/apk/debug/application-test-debug.apk
            --device model=star2qlteue,version=26,locale=de,orientation=portrait
            --timeout 90s
          # --results-bucket cloud-test-${GOOGLE_PROJECT_ID}
          # --timeout 90s


  assemble:

    docker:
      - image:         circleci/android:api-28-node8-alpha

    environment:
      JVM_OPTS:        -Xmx2048m
      GRADLE_OPTS:     -Xmx1536m -XX:+HeapDumpOnOutOfMemoryError -Dorg.gradle.caching=true -Dorg.gradle.configureondemand=true -Dkotlin.compiler.execution.strategy=in-process -Dkotlin.incremental=false

    steps:
      - checkout

      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "build.gradle" }}
            - v1-dependencies-


      # assemble
      - run:           |
          ./gradlew assembleDebug
          ./gradlew assembleDebug

      - store_artifacts:
          path:        zendoo/build/outputs/apk/debug/
          destination: debug

      - store_artifacts:
          path:        zendoo/build/outputs/apk/release/
          destination: release


workflows:
  version:             2
  pull_request:
    jobs:
      - dependencyUpdates:
          filters:
            branches:
              ignore:
                - master
      - lint:
          requires:
            - dependencyUpdates
      - ktlint:
          requires:
            - dependencyUpdates
      - detekt:
          requires:
            - dependencyUpdates
      - coverage:
          requires:
            - dependencyUpdates
      - assemble:
          requires:
            - coverage
            - detekt
            - ktlint
            - lint

  release:
    jobs:
      - assemble:
          filters:
            branches:
              only:
                - master
